################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/design_strony/node_modules
